.name{
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.image{
  width: 50%;
  border-radius: 50%;
}

.description{
  margin: 10px 0;
}

.card{
  background-color: burlywood;
  width: 20%;
  height: 20%;
}