*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.app{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2d4ff;
}